<h1>Registration</h1>
<div class="row" ng-controller="registrationCtrl">
    <ul>
        <li ng-repeat='link in links'>
            <a href="#/{{link}}">{{link}}</a>
        </li>
    </ul>
    <div class="col-lg-12">
        <h3>Registration</h3>
    </div>
    <div class="col-lg-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-4">
                    <input id="inputLogin" type="text" ng-model="login" placeholder="Login" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4">
                    <input id="inputPassword" type="password" ng-model="password" placeholder="Password" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="getAuthData(login, password)">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>